@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');

.container {
  position: absolute;
  top: 100px;
  z-index: -1;
  padding: 10px 10px 10px 310px;
  background: #ecedef;
  width: 100%;
}

.busqueda {
  display: flex;
  padding-left: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #f3f3f3;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
}

.busqueda input {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  font-size: 12px;
  display: block;
  width: 25%;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #757575;
  background: none;
}

.busqueda input:focus {
  outline: 0;
  box-shadow: none;
}

.busqueda button {
  background: none;
  border:none;
  cursor: pointer;
  margin-right: 10px;
}

.product {
  padding: 24px;
  font: 300 24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #f3f3f3;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 300px;
}

.product__Row {
  display: flex;
}

.product__Col {
  display: flex;
  flex-direction: column;
}

.product__Col h1 {
  font-size: 30px;
  margin-bottom: 4px;
  color: rgb(0, 0, 255);
}

.product__Col h2 {
  font-size: 15px;
  color: #9f9f9f;
  margin-bottom: 25px;
}

.product__Col p {
  font-size: 20px;
  color: #000;
}

.product__Col h4 {
  color: #85BB65;
  font-size: 26px;
  margin-top: auto;
}

.product__ColImg {
  height: 250px;
}

.product__ColImg img {
  width: 250px;
  height: 250px;
  margin-right: 25px;
}

@media (max-width:650px) {
  .container {
    padding-left: 10px;
  }
}