.container {
    position: absolute;
    top: 100px;
    z-index: -1;
    padding: 0px 0px 0px 300px;
    background: #ecedef;
    width: 100%;
    height: 85%;
}

.container img {
    width: 100%;
    height: 97.5%;
}

@media (max-width:650px) {
    .container {
        padding-left: 0px;
    }
}